.actions-menu {
  padding: 40px 30px;
}

.actions-menu h1 {
  margin-bottom: 20px;
}

.actions-menu-content {
  display: flex;
}

.actions-menu .btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.actions-menu .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  height: 40px;
}
