@media (min-width: 992px) {
  .navbar-expand-lg {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
  }

  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.bg-dark {
  background-color: #343a40 !important;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem 1rem;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}

.nav-link {
  display: block;
  padding: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

nav.navbar .navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
}

nav.navbar .navbar-right .nav-item {
  box-sizing: border-box;
  height: 55px
}

nav.navbar .navbar-brand {
  font-size: 1.5rem;
  padding-bottom: 9px;
}


